#=========================================================================
# Git Ignore Files
#=========================================================================
# We explicitly ignore a default build directory and the generated bitcode
# files. This makes it easy to do a clean build under the source directory
# and still have it appear clean to git.

build*/
*.ll
*.dot
*.bc
.vscode/
.venv/
tmp/
fig/
result/
__pycache__/
dfg.json
increMapInput.json
config.json